<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>Лаб №6</title>


<link href="static/css/style.css" rel="stylesheet"> 


<!-- <link  href="{{ url_for('static', filename='style.css') }}" /> -->





<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
<br/>
<h1>Литвинюка Владислава</h1>
<h2>Лабораторная работа №6</h2>
<hr>

<div>
  <p class = 'main'>
Рассчитаем относительные эластичности по фондам и труда:
</p>
<div>
  <p><span class="text text1">a1: </span><input type = "number" placeholder = '0.404' value ='0.404' class="pole pole1" id="a1InputForFirstButton"></p>
  <p><span class="text text1">a2: </span><input type = "number" placeholder = '0.803' value ='0.803' class="pole pole1" id="a2InputForFirstButton"></p>

      <p>a = a1 / (a1 + a2) = </p>  <button onclick="button1()">Посчитать</button>
      <p class = 'eror' id ="eror1" ></p>
      <p class = 'answer answer1' id ="aResultTextForFirstButton" > a </p>
      <p class = 'answer answer1' id ="aResultMinusOneTextForFirstButton">1 - a<p>

</div>
<hr>
<div>

  <p class = 'main'>
Определим теперь частичные эффективности ресурсов:
  </p>
  <p><span class="text">X: </span> <input type = "number" class="pole pole2"  placeholder ='2.82' value ='2.82' id="xInputForSecondButton"></p>
  <p><span class="text">K: </span> <input type = "number" class="pole pole2"  placeholder ='2.88' value ='2.88' id="kInputForSecondButton"></p>
  <p><span class="text">L: </span> <input type = "number" class="pole pole2"  placeholder ='1.93' value ='1.93' id="lInputForSecondButton"></p>

</div>

  <button onclick="button2()">Посчитать</button>
  <p class = 'eror' id ="eror2" ></p>
  <p class="answer2" id ="EkAnswerSecondButton">Ek = X / K = <p>
  <p class="answer2" id ="ElAnswerSecondButton">El = X / L = <p>

      </div>
<hr>
       <div> <p class = 'main'>
             Определим обобщающий показатель эффективности:
    </p>

    <button onclick="button3()">Посчитать</button>
    <p  class = 'eror3'  id ="eAnswerThirdButtom"> E = Ek^a * El^(a-1) </p>
      </div>
  <hr>

      <div> <p class = 'main'>
          Определим масштаб:
 </p>
      <button onclick="button4()">Посчитать</button>
    <p  class = 'eror4' id ="mAnswerFourthButtom"> M = K^a * L^(a-1) </p>
      </div>
      <script src="static/js/script.js"></script>
</body>
</html>
